body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cyan;
}


h1 {
    font-size: 17rem;
    font-family: 'Montserrat', sans-serif;
}

.letter {
    transition: color 500ms;
}